### Import Data

In [430]:
import pandas as pd

In [431]:
df = pd.read_csv("Fish.csv")

In [432]:
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [433]:
df['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [434]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [435]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [436]:
y = df['Width']
X = df.drop(columns='Species')

In [437]:
X

     Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [438]:
print(X.isnull().sum())

Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [439]:

corr_matrix = X.corr()
print(corr_matrix)

           Weight   Length1   Length2   Length3    Height     Width
Weight   1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height   0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width    0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [440]:
X = X.drop(columns=['Length1','Length2'])

In [441]:
corr_matrix = X.corr()['Weight']
print(corr_matrix)

Weight     1.000000
Length3    0.923044
Height     0.724345
Width      0.886507
Name: Weight, dtype: float64

#### implementation of StandardScaler

In [442]:
# implementation of StandardScaler
import numpy as np
class StandardScaler:
    def __init__(self):
        self.mean_ = None
        self.std_ = None
    def fit(self,X):

        self.mean_ = np.mean(X, axis=0)
        self.std_ = np.std(X, axis=0)
    def transform(self,X):
        X_scaled = (X - self.mean_) / self.std_ 
        return X_scaled

    def fit_transform(self, X):
        self.fit(X)
        X_scaled  = self.transform(X)
        return X_scaled

In [443]:
X_scaled = StandardScaler().fit_transform(X)

In [444]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_trian,y_test = train_test_split(X_scaled,y,test_size = .15, random_state = 42)
display(X_train.shape)
display(X_test.shape)
display(y_trian.shape)
display(y_test.shape)

(135, 4)

(24, 4)

(135,)

(24,)

### Model

In [445]:
from linear_regression import LinerRegression
reg_lin = LinerRegression(lr=.5,n_iters=1500)
reg_lin.fit(X_train,y_trian)

[1.66983125e-16 1.07646612e-16 1.74820331e-16 1.68049424e+00] 4.417485534591195

In [446]:
y_pred = reg_lin.predict(X_test)

In [447]:
y_pred

array([3.1234, 1.269 , 3.3756, 4.2476, 3.626 , 6.603 , 1.1484, 3.906 ,
       4.1658, 6.9849, 5.7276, 6.525 , 5.58  , 3.2928, 5.589 , 6.3063,
       8.142 , 4.144 , 3.723 , 5.2854, 1.2838, 5.1338, 4.368 , 4.9594])

# Evaluation

In [448]:
# implementation of the mean squared error (MSE) 
def mean_squared_error(true,pred):
    mse = np.mean((true -pred)**2)
    return mse

In [449]:
display(mean_squared_error(y_test,y_pred))

2.0543252740130517e-32

##### Mmm,It's Great ðŸ‘Œ
### Thank You ðŸ˜Š